<link href="assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
<link href="assets/css/style.css" rel="stylesheet" />
<link href="assets/css/main-style.css" rel="stylesheet" />

<!-- Core Scripts - Include with every page -->
<script src="assets/plugins/jquery-1.10.2.js"></script>
<script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
<script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="assets/plugins/pace/pace.js"></script>
<script src="assets/scripts/siminta.js"></script>

<style>
    .list-dm {
        cursor:pointer;
    }
    .list-dm:hover {
        background-color: lightgrey;
    }

    .panel-body ul {
        list-style-type: none;
    }

    .panel-body ul li {
        margin-left: -10%;
    }

    .rowColumnContainer {
        min-height: 28px;
        /*background-color: #f3d8d8;*/
    }
</style>

<div class="wrapper" ng-controller="worksheetController">

    <!-- navbar side -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <!-- sidebar-collapse -->
        <div class="sidebar-collapse">
            <!-- Dimension -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-tasks fa-fw"></i>&nbsp;&nbsp;Dimension
                </div>

                <div class="panel-body">
                    <!--<div class="list-group" ng-repeat="list in dimensionList">-->
                    <div class="list-group" >
                        <ul dnd-list="dimensionList">
                            <li ng-repeat="item in dimensionList"
                                dnd-draggable="item"
                                dnd-effect-allowed="copy"
                                class="list-group-item list-dm" >
                                {{item}}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!--End Dimension-->

            <!-- Measure -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>&nbsp;&nbsp;Measure
                </div>

                <div class="panel-body">
                    <div class="list-group">
                        <ul dnd-list="measureList">
                            <li ng-repeat="item in measureList"
                                dnd-draggable="item"
                                dnd-effect-allowed="copy"
                                class="list-group-item list-dm" >
                                {{item}}
                            </li>
                            <!--<li ng-repeat="item in measureList"-->
                                <!--dnd-draggable="item"-->
                                <!--dnd-moved="measureList.splice($index, 1)"-->
                                <!--dnd-effect-allowed="move"-->
                                <!--class="list-group-item list-dm" >-->
                                <!--{{item}}-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>

            </div>
            <!--End Measure-->

        </div>
        <!-- end sidebar-collapse -->
    </nav>
    <!-- end navbar side -->

    <!--  page-wrapper -->
    <div id="page-wrapper">
        <div class="row">
            <!-- Page Header -->
            <div class="col-md-6 col-lg-6">

                <!--  Row container -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Row
                    </div>
                    <div class="panel-body" >
                        <ul dnd-list="rowList" class="rowColumnContainer">
                            <li ng-repeat="item in rowList"
                                class="alert alert-success alert-dismissable"
                            >
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <!--{{item.label}}-->
                                {{item}}
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End row container-->
            </div>

            <div class="col-md-6 col-lg-6">
                <!--  Column container -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Column
                    </div>
                    <div class="panel-body" >
                        <ul dnd-list="columnList" class="rowColumnContainer">
                            <li ng-repeat="item in columnList"
                                class="alert alert-success alert-dismissable"
                            >
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <!--{{item.label}}-->
                                {{item}}
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End column container-->
            </div>
            <!--End Page Header -->
        </div>
    </div>
    <!-- end page-wrapper -->
</div>