<link href="assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
<link href="assets/css/style.css" rel="stylesheet" />
<link href="assets/css/main-style.css" rel="stylesheet" />

<!-- Core Scripts - Include with every page -->
<script src="assets/plugins/jquery-1.10.2.js"></script>
<script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
<script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="assets/plugins/pace/pace.js"></script>
<script src="assets/scripts/siminta.js"></script>
<!--<script src="asset/lib/angular-dragdrop/angular-dragdrop.js"></script>-->
<!--<script src="asset/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>-->

<style>
    .list-dm {
        cursor:pointer;
    }
    .list-dm:hover {
        background-color: lightgrey;
    }

    /*start testing*/
    /**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
    .simpleDemo ul[dnd-list],
    .simpleDemo ul[dnd-list] > li {
        position: relative;
    }

    /**
     * The dnd-list should always have a min-height,
     * otherwise you can't drop to it once it's empty
     */
    .simpleDemo ul[dnd-list] {
        min-height: 42px;
        padding-left: 0px;
    }

    /**
     * The dndDraggingSource class will be applied to
     * the source element of a drag operation. It makes
     * sense to hide it to give the user the feeling
     * that he's actually moving it.
     */
    .simpleDemo ul[dnd-list] .dndDraggingSource {
        display: none;
    }

    /**
     * An element with .dndPlaceholder class will be
     * added to the dnd-list while the user is dragging
     * over it.
     */
    .simpleDemo ul[dnd-list] .dndPlaceholder {
        display: block;
        background-color: #ddd;
        min-height: 42px;
    }

    /**
     * The dnd-lists's child elements currently MUST have
     * position: relative. Otherwise we can not determine
     * whether the mouse pointer is in the upper or lower
     * half of the element we are dragging over. In other
     * browsers we can use event.offsetY for this.
     */
    .simpleDemo ul[dnd-list] li {
        background-color: #fff;
        border: 1px solid #ddd;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
    }

    /**
     * Show selected elements in green
     */
    .simpleDemo ul[dnd-list] li.selected {
        background-color: #dff0d8;
        color: #3c763d;
    }

    /*end testing*/

    .panel-body ul {
        list-style-type: none;
    }

    .panel-body ul li {
        margin-left: -10%;
    }

    .rowColumnContainer {
        min-height: 28px;
        /*background-color: #f3d8d8;*/
    }
</style>

<div class="wrapper" ng-controller="worksheetController">

    <!-- navbar side -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <!-- sidebar-collapse -->
        <div class="sidebar-collapse">
            <!-- Dimension -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-tasks fa-fw"></i>&nbsp;&nbsp;Dimension
                </div>

                <div class="panel-body">
                    <!--<div class="list-group" ng-repeat="list in dimensionList">-->
                    <div class="list-group" >
                        <ul dnd-list="dimensionList">
                            <li ng-repeat="item in dimensionList"
                                dnd-draggable="item"
                                dnd-effect-allowed="copy"
                                class="list-group-item list-dm" >
                                {{item}}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!--End Dimension-->

            <!-- Measure -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>&nbsp;&nbsp;Measure
                </div>

                <div class="panel-body">
                    <div class="list-group">
                        <ul dnd-list="measureList">
                            <li ng-repeat="item in measureList"
                                dnd-draggable="item"
                                dnd-effect-allowed="copy"
                                class="list-group-item list-dm" >
                                {{item}}
                            </li>
                            <!--<li ng-repeat="item in measureList"-->
                                <!--dnd-draggable="item"-->
                                <!--dnd-moved="measureList.splice($index, 1)"-->
                                <!--dnd-effect-allowed="move"-->
                                <!--class="list-group-item list-dm" >-->
                                <!--{{item}}-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>

            </div>
            <!--End Measure-->

        </div>
        <!-- end sidebar-collapse -->
    </nav>
    <!-- end navbar side -->

    <!--  page-wrapper -->
    <div id="page-wrapper">
        <div class="row">
            <!-- Page Header -->
            <div class="col-md-6 col-lg-6">

                <!--START TESTING-->
                <!--<div class="simpleDemo row">-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="row">-->
                            <!--&lt;!&ndash;<div ng-repeat="(listName, list) in models.lists" class="col-md-6">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div ng-repeat="list in dimensionList" class="col-md-6">&ndash;&gt;-->
                                <!--<div class="panel panel-info">-->
                                    <!--<div class="panel-heading">-->
                                        <!--<h3 class="panel-title">List </h3>-->
                                    <!--</div>-->
                                    <!--<div class="panel-body">-->
                                    <!--&lt;!&ndash; The dnd-list directive allows to drop elements into it. The dropped data will be added to the referenced list &ndash;&gt;-->
                                    <!--<ul dnd-list="dimensionList">-->
                                        <!--&lt;!&ndash; The dnd-draggable directive makes an element draggable and will-->
                                             <!--transfer the object that was assigned to it. If an element was-->
                                             <!--dragged away, you have to remove it from the original list-->
                                             <!--yourself using the dnd-moved attribute &ndash;&gt;-->
                                        <!--<li ng-repeat="item in dimensionList"-->
                                            <!--dnd-draggable="item"-->
                                            <!--dnd-moved="dimensionList.splice($index, 1)"-->
                                            <!--dnd-effect-allowed="move"-->
                                            <!--dnd-selected="models.selected = item"-->
                                            <!--ng-class="{'selected': models.selected === item}"-->
                                        <!--&gt;-->
                                            <!--{{item}}-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->

                        <!--&lt;!&ndash;<div view-source="simple"></div>&ndash;&gt;-->

                    <!--</div>-->

                    <!--<div class="col-md-4">-->
                        <!--<div class="panel panel-default">-->
                            <!--<div class="panel-heading">-->
                                <!--<h3 class="panel-title">Generated Model</h3>-->
                            <!--</div>-->
                            <!--<div class="panel-body">-->
                                <!--<pre class="code">{{modelAsJson}}</pre>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--END TESTING-->

                <!--  Row container -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Row
                    </div>
                    <div class="panel-body" >
                        <ul dnd-list="rowList" class="rowColumnContainer">
                            <li ng-repeat="item in rowList"
                                class="alert alert-success alert-dismissable"
                            >
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <!--{{item.label}}-->
                                {{item}}
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End row container-->
            </div>

            <div class="col-md-6 col-lg-6">
                <!--  Column container -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Column
                    </div>
                    <div class="panel-body" >
                        <ul dnd-list="columnList" class="rowColumnContainer">
                            <li ng-repeat="item in columnList"
                                class="alert alert-success alert-dismissable"
                            >
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <!--{{item.label}}-->
                                {{item}}
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End column container-->
            </div>
            <!--End Page Header -->
        </div>
    </div>
    <!-- end page-wrapper -->
</div>